<h2>Рокетбанк</h2>
<ol>
  <li>Войдите в приложение</li>
	<li>Выберите раздел «Переводы», категория «По реквизитам»</li>
	<li>Введите необходимые реквизиты:
    <ul>
		  <li>БИК: <span class="details__bik"></span><!--044525225--></li>
			<li>Номер счёта: <span class="details__candidate-account"></span><!--40810810538009417259--></li>
			<li>Получатель: <span class="details__candidate-full-name"></span><!--Беседина Дарья Станиславовна--></li>
		</ul>
	</li>
	<li>Введите назначение платежа:
	  <p><i>Пожертвование. ваши ФИО, ваша дата рождения, гражданство РФ, ваш адрес по прописке с указанием региона, номер паспорта</i></p>
	</li>
	<li>Введите сумму вашего пожертвования</li>
	<li>Проверьте реквизиты и нажмите «Перевести»</li>
</ol>
