
  <h2>Тинькофф</h2>
  <ol>
    <li>Войдите в интернет-банк</li>
    <li>Выберите раздел «Оплатить», далее категорию «Людям», «Счёт»</li>
    <li>Введите необходимые реквизиты:
      <ul>
  			<li>БИК: <span class="details__bik"></span><!--044525225--></li>
  			<li>Счёт получателя: <span class="details__candidate-account"></span><!--40810810538009417259--></li>
  			<li>ФИО: <span class="details__candidate-full-name"></span><!--Беседина Дарья Станиславовна--></li>
  		</ul>
  	</li>
  	<li>Введите назначение платежа:
  		<p><i>Пожертвование. ваши ФИО, ваша дата рождения, гражданство РФ, ваш адрес по прописке с указанием региона, номер паспорта</i></p>
  	</li>
  	<li>Введите сумму вашего платежа</li>
  	<li>Проверьте реквизиты и нажмите «Перевести»</li>
  </ol>
