<% candidates.forEach((candidate, index) => { %>
  <section class="d-none donate-block" id="donate_<%= index %>">
    <% glob.sync("templates/guides/*.ejs").forEach((f) => { %>
      <div class="container mt-4">
        <%- include(f.replace("templates/", ""), {candidate: candidate}) -%>
      </div>
    <% }) %>
  </section>
<% }) %>
